.container {
    max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
    background-color: #3b82f6;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
    color: #fff;
    transition: color 0.15s ease-in-out;
}
.site-header a:hover {
    color: #8e8e8e;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}
.icon-wrapper {
    width: 100%;
    height: 100%;
}

.icon-wrapper > a {
    width: 64px;
    height: 64px;
    cursor: pointer;
    padding: 12px 0px 0px 0px;
}
.icon-wrapper > a > i {
  font-size: 30pt;
}
.btn:hover {
    opacity: 0.7;
}

.btn-discord {
    background: #8c9eff;
}
.btn-twitter {
    background: #55acee;
}

.btn-envelope {
    background: orange;
}
.btn-telegram {
    background: #26a5e4;
}

.fa-discord {
    color: white;
}
.fa-twitter {
    color: white;
}
.fa-envelope {
    color: white;
}
.fa-telegram {
    color: white;
}
